body {
  background-color: #fff; }
  body .img-wrapper {
    height: auto;
    margin-bottom: 130px;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.3)); }
    body .img-wrapper .gallery__img {
      width: 200%;
      transition: .5s; }
      body .img-wrapper .gallery__img:hover {
        transform: scale(1.1); }
      body .img-wrapper .gallery__img--1 {
        clip-path: circle(35% at 50% 50%); }
      body .img-wrapper .gallery__img--2 {
        clip-path: polygon(20% 20%, 80% 20%, 80% 80%, 20% 80%); }
      body .img-wrapper .gallery__img--3 {
        clip-path: polygon(20% 0%, 80% 0%, 80% 80%, 20% 80%); }
      body .img-wrapper .gallery__img--4 {
        width: 55%;
        clip-path: polygon(50% 0%, 100% 70%, 0% 70%); }
  body .overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.9); }
    body .overlay__title {
      background-color: #fff;
      font-size: 1.6rem; }
      @media (min-width: 768px) {
        body .overlay__title {
          font-size: 2.5rem; } }
    body .overlay__img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 70%;
      height: 70%;
      object-fit: cover; }
    body .overlay__close {
      position: absolute;
      top: 0;
      right: 0;
      font-weight: 100;
      font-size: 5rem;
      margin-right: 1rem; }
      @media (min-width: 768px) {
        body .overlay__close {
          font-size: 6rem;
          margin-right: 2rem; } }
      @media (min-width: 992px) {
        body .overlay__close {
          font-size: 8rem;
          margin-right: 3rem; } }
  body .openOverlay {
    display: block; }
